body {
    max-width: 1000px;
    margin: 20px auto;
    font-family: "Roboto Light", sans-serif;
    color: #383838;
    background: #eee;
    font-size: 1rem;
}

.greetings {
    display: flex;
    margin-left: 43vw;
}

header {
    margin-bottom: 50px;
}

nav ul {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin-left: 32vw;
}

nav li {
    margin: 0 5px;
}

nav li a:hover {
    color: #afcec4;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: 1.1rem;
    letter-spacing: 1px;
}

#app {
    background: white;
    box-shadow: 0px 60px 25px rgba(63, 67, 77, 0.20);
    min-height: 100vh;
    padding: 30px;
    margin-top: -25px;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    text-align: center;
    font-size: 2rem;
}

.filters {
    background: #85dcb5;
    margin: 10px auto;
    height: 200px;
    width: 900px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 3px;
}

.siteFilter {
    grid-row: 2/3;
    grid-column: span 2;
}
.nameFilter {
    grid-row: 3/4;
    grid-column: span 2;
}
.dateFilter {
    grid-row: 4/5;
    grid-column: span 2;
}
.checkFilters {
    grid-column: 3/5;
    grid-row: span 4;
}

.hangoutContainer {
    padding: 15px 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    justify-items: center;
}

.hangout {
    text-align: center;
    margin: 0;
    background: #c0c0c0;
    border-radius: 5px;
    height: 200px;
    width: 180px;
}

.hangout:hover {
    cursor: pointer;
    background: #e3e3e3;
}

footer {
    padding: 20px;
    margin-bottom: -25px;
    color: #eee;
    background: #383838;
    text-align: center;
}

.createHangoutButton {
    margin-top: 20px;
    margin-left: -75px;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    background: #85dcb5;
}

.createHangoutButton:hover a {
    color: white;
}

.createHangoutButton:hover {
    cursor: pointer;
}

.createHangoutButton a:hover {
    color: white;
}