{% extends 'base.html.twig' %}

{% block body %}
    <div class="flash-messages">
        <div class="flash-success flash">Flash Success</div>
        <div class="flash-notice flash">Flash Notice</div>
        <div class="flash-error flash">Flash Error</div>
    </div>
{% endblock %}

{% block title %}

{% endblock %}

