{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <button class="button" id="first-button">First Test !</button>
    </div>
    <div>
        <button class="button" id="second-button">Second Test !</button>
    </div>
{% endblock %}

{% block title %}

{% endblock %}

