{% extends 'base.html.twig' %}

{% block title %}Hello TestPlaygroundController!{% endblock %}

{% block body %}
    <div>
        <a href={{ path('test_filter-form') }}>Test FilterForm</a>
    </div>
    <div>
        <a href={{ path('test_buttons') }}>Test buttons</a>
    </div>
    <div>
        <a href={{ path('test_map') }}>Test map</a>
    </div>
{% endblock %}
