{% block map_row %}
    <div id="mapEdit"></div>
    {% for child in form.children|filter(child => not child.rendered) %}
    <div class="form-group">
        {{ form_widget(child) }}
        {{ form_help(child) }}
        {{ form_errors(child) }}
    </div>
    {% endfor %}
{% endblock %}