button{
    font-size: 1.2rem;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    background: var(--color-primary);
    color: var(--color-base-text);
    &:hover{
        cursor: pointer;
    }
}