{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    {{ form_start(hangoutForm) }}

    {{ form_widget(hangoutForm) }}


    <button>Enregistrer</button>
    <button>Publier</button>
    <button>Annuler</button>

    {{ form_end((hangoutForm)) }}

{% endblock %}

