{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | hangout creation
{% endblock %}

{% block body %}
    <h2>Suggest your own Hangout idea !</h2>
{#    {{ form_start() }}#}
{% endblock %}

