{% extends 'base.html.twig' %}

{% block body %}
    <h2>{{ hangout.name }}</h2>

    <div class="hangoutDetails">

    </div>
{% endblock %}

{% block title %}
    {{ parent() }} | hangout details
{% endblock %}