{% extends 'base.html.twig' %}

{% block body %}
    <h2>Join Us for a Hangout !</h2>
    <section>
        {% for hangout in hangouts %}
            <div></div>
        {% endfor %}
        <button class="createHangoutButton"><a href="{{ path('hangout_create') }}">Create</a></button>
    </section>
{% endblock %}

{% block title %}
{{ parent() }} | hangout list
{% endblock %}

