<nav>
    <ul>
        <li><a href="#">Cities</a></li>|
        <li><a href="#">Sites</a></li>|
        <li><a href="{{ path('hangout_list') }}">Home</a></li>|
        <li><a href="#">Profile</a></li>|
        <li><a href="#">Logout</a></li>
    </ul>
</nav>